* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border: 2px solid deeppink;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 9fr;
  grid-template-rows: 150px 9fr;
}

.header {
  border: 2px solid green;
  grid-column: 2 / 3;
}

.sidebar {
  border: 2px solid blue;
  grid-row: 1 / 3;
}

.main-content {
  border: 2px solid orangered;
  grid-column: 2 / 3;
  height: 100%;
}

/*SIDEBAR*/

.dashboard-text {
  font-size: 1.3rem;
  margin-bottom: 25px;
  font-weight: 700;
}

.sidebar {
  padding: 20px;
}

.sidebar > ul {
  list-style: none;
}

li > a {
  text-decoration: none;
}
