* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border: 2px solid deeppink;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 9fr;
  grid-template-rows: 120px 9fr;
}

.header {
  border: 2px solid green;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  padding: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-container > p {
  font-weight: 700;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 60%;
}

.right-header {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  margin-bottom: 10px;
}

.user-actions {
  display: flex;
  gap: 16px;
}

.action-btn {
  background-color: #1f91d3;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 700;
}

.search-btn,
.notif-btn,
.account-icon {
  border: none;
  background-color: white;
}

.notif-btn {
  margin-right: 16px;
}

.search-icon,
.notif-icon {
  width: 24px;
  height: 24px;
}

.account-icon {
  width: 32px;
  height: 32px;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #e1e7f0;
  width: 100%;
}

.sidebar {
  border: 2px solid blue;
  grid-row: 1 / 3;
}

.main-content {
  border: 2px solid orangered;
  grid-column: 2 / 3;
  height: 100%;
}

/*SIDEBAR*/

.dashboard-text {
  font-size: 1.3rem;
  margin-bottom: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.dashboard-logo {
  width: 32px;
  height: 32px;
}

.sidebar {
  padding: 20px;
  background-color: #1f91d3;
  color: white;
}

.sidebar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

li > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.nav > li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

/* MAIN CONTENT */
.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px 1fr;
  height: 100%;
}

.projects {
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  grid-row: 1 / 3;
  background-color: #e1e7f0;
}
.announcements {
  width: 100%;
  height: 100%;
  border: 2px solid greenyellow;
  grid-row: 1 / 3;
  background-color: #e1e7f0;
}

.project-title-text {
  padding: 20px 10px;
  font-weight: 700;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  height: 93%;
}

.card {
  padding: 20px 10px 25px 10px;
  border-left: 10px solid #f0b32d;
  box-shadow: 2px 2px 5px #cdd2d9;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.card-title {
  font-weight: 700;
}

.card-icon {
  width: 24px;
  height: 24px;
}

.card-actions {
  display: flex;
  justify-content: end;
  gap: 25px;
}

/* ANNOUNCEMENTS */
.announcements {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.announcement-title {
  padding: 20px 0;
}

.articles {
  padding: 20px;
  box-shadow: 2px 2px 5px #cdd2d9;
  background-color: white;
  border-radius: 10px;
}

.articles > article {
  margin-bottom: 20px;
  padding: 5px 25px;
}

.articles > article:not(:last-of-type) {
  border-bottom: 1px solid #e1e7f0;
}
