* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border: 2px solid deeppink;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 9fr;
  grid-template-rows: 150px 9fr;
}

.header {
  border: 2px solid green;
  grid-column: 2 / 3;
}

.sidebar {
  border: 2px solid blue;
  grid-row: 1 / 3;
}

.main-content {
  border: 2px solid orangered;
  grid-column: 2 / 3;
  height: 100%;
}

/*SIDEBAR*/

.dashboard-text {
  font-size: 1.3rem;
  margin-bottom: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.dashboard-logo {
  width: 32px;
  height: 32px;
}

.sidebar {
  padding: 20px;
  background-color: #1f91d3;
  color: white;
}

.sidebar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

li > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.nav > li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  fill: white;
}
